*, *::after, *::before {
  box-sizing: border-box;
}


/*-------------------------------header footer nav*/
.navHeaderContainer, .navFooterContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navHeaderItem, .navFooterItem {
  flex: 1;
}


/*======================================================== MEDIA QUERY*/

/*1498px / 16 =*/
@media (max-width: 94em) {
  /*body {
    margin: 5em 15em;
  }*/
}

/*880px / 16 =*/
@media (max-width: 55em) {
  /*body {
    margin: 5em 10em;
  }*/
}

/*586px / 16 =*/
@media (max-width: 37em) {
  /*body {
    margin: 5em 5em;
  }*/

  .navFooterItem a {
    font-size: 0.8em;
  }
}


/*412px / 16 =*/
@media (max-width: 26em) {

  /*-------------------------------default*/
  /*body {
    margin: 12em 2em;
  }*/

  /*-------------------------------header nav*/
  .navHeaderContainer, .navFooterContainer {
    flex-direction: column;
  }

  .navHeaderItem {
    padding: 0.5em 0em;
  }

  .navFooterItem a {
    font-size: 1em;
  }
}
