*, *::after, *::before {
  box-sizing: border-box;
}

.headerContainer, .footerContainer, .paraWithImgContainer, .colourContainer {
  display: flex;
  flex-direction: row;
}

.footerContainer {
  justify-content: center;
}

.headerItem, .footerItem, .paraWithImgItem, .colourItem{
  flex: 1;
}
