.headerContainer, .footerContainer, .paraWithImgContainer {
  display: flex;
  flex-direction: row;
}

.footerContainer {
  justify-content: center;
}

.headerItem, .footerItem, .paraWithImgItem{
  flex: 1;
}
