/*-------------------------------default*/
body {
  background-color: #111111;

  font-family: sans-serif;
  color: #686868;
}

h1 {
  width: 40%;
  padding: 1.3em 1em;
  font-size: 5em;
  display: block;
  color: #ffffff;
}

h2 {
  color: #ce8944;
}

h3 {
  color: #ffffff;
}

img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.mainContent {
  margin: 5em 30em;
}

.sectionContent {
  background: #111111;
  padding: 2em;
  margin: 1em 0em;
  border-style: solid;
  border-width: thin;
  border-bottom: none;
  border-right: none;
  border-radius: 2em;
}


/*-------------------------------header and footer nav*/
.navHeaderContainer {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  background-color: #000000;
  opacity: 0.8;
  padding: 1em 0em;
}

.navHeaderItem, .navFooterItem {
  text-align: center;
}

.navHeaderItem a {
  text-decoration: none;
  color: #ffffff;
}

.navHeaderItem a:active, .navHeaderItem a:hover, .navHeaderItem a:focus, .navFooterItem a:active, .navFooterItem a:hover, .navFooterItem a:focus {
  color: #e55b5b;
}

/*-------------------------------footer nav*/

.navFooterContainer {
  background-color: #000000;
  padding: 5em 0em;
  padding-bottom: 5em;
}

.navFooterItem a {
  display: block;
  padding: 0.8em 0em;
  text-decoration: none;
  color: #565656;
  font-size: 0.9em;
}

.footerCategory a {
  color: #c1c1c1;
  font-size: 1em;
}
